<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.blacklight">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/project_blacklight"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blacklight"
        tools:replace="android:icon,android:theme">
        <activity android:name=".MerchantUpdateInventoryActivity"></activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".MerchantNewOrderDetailsActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".MerchantNewOrdersActivity" />
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".ProductDetailsActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Blacklight.NoActionBar" />
        <activity android:name=".MerchantChooseInventoryCategoryActivity" />
        <activity android:name=".MerchantAddNewProductActivity" />
        <activity android:name=".MerchantStoreActivity" />
        <activity android:name=".MarketPlaceActivity" />
        <activity android:name=".MerchantSignInActivity" />
        <activity android:name=".MerchantSignUpActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>